@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
  width: 3em;
  height: 3em;
  cursor: not-allowed;
  border-radius: 50%;
  border: 2px solid #444;
  box-shadow: -10px -10px 10px #4f46e5, 0px -10px 10px 0px #7c3aed,
    10px -10px 10px #d946ef, 10px 0 10px #e11d48, 10px 10px 10px 0px #f97316,
    0 10px 10px 0px #facc15, -10px 10px 10px 0px #a3e635;
  animation: rot55 0.7s linear infinite;
}

.spinnerin {
  border: 2px solid #444;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rot55 {
  to {
    transform: rotate(360deg);
  }
}

/* Adding logo styles */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.logo img {
  width: 150px;
  height: auto;
}
